
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}
input, button {
  outline: none;
}

a {
  text-decoration: none;
}

.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: '.';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }
}

.lee--overflow--hidden{
  overflow: hidden!important;
}
.container{
  padding:0 10px;
}
.row{
  width:100%;
  max-width:1150px;
  min-width: 755px;
  margin:0 auto;
}
.flex{
  display:flex;
  flex-flow: row nowrap;
}
.col{
  float:left;
  margin-right:1%;
}